/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/* code written by me below */

header, footer{
  height: 100px;
  border: 1px solid black;
}

.top{
  height: 400px;
}

.top section{
  height: 100%;
  width: 33.33%;
  border: 1px solid black;
  float: right;
}

.bottom {
  height: 400px;
}

.bottom section{
  height: 100%;
  width: 50%;
  border: 1px solid black;
  float: right;
}


/* could also do: 

section{
  height: 200px;
  width: 33.333%;
  border: 1px solid black;
  float: left; 
}

.bottom{   <--- when only putting a class to the 2 bottom sections
  width: 50%
}

this leave the footer and header next to each other still -- but all sections are in place (with shorter code than I wrote)

in order to help the header and footer separate -> we need to clear it by adding

header, footer{
  clear: both;
}



--> note: need to practice combining code with the same properties! <----

*/